<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OpenTracDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="OpenTracModel" connectionString="metadata=res://*/ModelOpenTrac.csdl|res://*/ModelOpenTrac.ssdl|res://*/ModelOpenTrac.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DTHG502015\SQL2014EXPRESS;initial catalog=NsbsOpenTrac;persist security info=True;user id=rxe_dbo;password=RXE_0822_db0;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="OpenTracDashboard.Properties.Settings.OpenTracConnect"
      connectionString="opentray-connectionstring" />
    <add name="OpenTracDashboard.Properties.Settings.SpcConnection"
      connectionString="spc-connectionstring" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <OpenTracDashboard.Properties.Settings>
      <setting name="LogFolder" serializeAs="String">
        <value>c:\logs</value>
      </setting>
    </OpenTracDashboard.Properties.Settings>
  </userSettings>
</configuration>